.main-archive,
.main-home {
  article.post-summary {
    h1.entry-title {
      margin-bottom: $space-small;
    }

    img {
      width: 100%;
      margin-top: 8px;
      margin-left: 0px;
      padding-left: 0px;
      clear: left;
      
    }

    p {
      margin-bottom: $space-small*2;
    }

    .button {
      margin-bottom: 0;
    }
  }

  article.sticky {
    header {
      h1 {
        line-height: 1;
        a {
          @include font-size(30);
        }
      }
    }
  }
}
