// Theme colours
$white: #fff !default;
$black: #000 !default;


$lightest: $white !default;
$darkest: $black !default;
$primary-color: #0071BB !default;   // blue
$secondary-color: #0071BB !default; // turquoise blue
$logo-color: #000 !default;      // dark blue
 
$mail-color: $logo-color !default;
