.site-footer {
  .navigation {
    background-color: #DEE0E2;
    padding: $space-small*6 0 $space-medium 0;

    a {
      color: $lightest;
      @include font-size(14);
      border-bottom: 1px solid transparent;

      &:hover, &:focus {
        border-bottom-color: $lightest;
      }
    }

    p {
      margin: 0;
      text-align: right;
      color: $lightest;
      @include font-size(14);

      @media #{$small-only} {
        text-align: left;
      }
    }
  }

  .credits {
    background-color: #EDEDED;
    padding-top: $space-small*6;
    padding-bottom: $space-small*6;
    color: #46494B;
font-size: 16px;
p {
  font-size: 16px;

}
    a {
      font-size: 16px;

      color: #46494B;
      text-decoration: underline;
    }
    a:hover {
      color: #46494B;
      text-decoration: none;
    }
    img.brand {
      height: 70px;
      margin-right: 10px;
    }

  }

  ul.menu {
    width: auto;
    display: inline-block;
  }


}
